**/__pycache__
*.py[cod]
.idea/
*.egg-info/
.cache
.tmp
*.swp
.classpath
build/
.project
.settings/
.vscode/

.env
*.sln
.vs/
*.pyproj
*.pyproj.user
.leu
.~lock*

venv/
.venv/
.coverage
test-results.xml

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
