gunicorn

Flask
Flask-CORS
flask-reverse-proxy-fix
flask-smorest
Flask-dotenv
marshmallow
marshmallow-dataclass
colorama
structlog
python-dotenv

#psycopg2-binary

requests

# Development dependencies
mypy
pylint-flask
pip-tools
black
flake8
